{% extends 'student/layouts/base.html' %}

{% load static %}

{% block 'content' %}
<h1> Login </h1>
<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}

    {% comment %} {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %} {% endcomment %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
            {{ message }}
            </div>
        {% endfor %}

    {% endif %}


     
    {{form}} <br>
        <input type="submit" class="btn btn-success", value="Log in"> 
    </form>

    <script src="{% static 'student/script.js' %}"></script>
{% endblock %}