{% extends 'student/layouts/base.html' %}
{% load static %}
{% block 'content' %}

  <h2>Change Password</h2>
  <form method="post">
    {% csrf_token %}

    {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Error:</strong> Please correct the following errors:
            <ul>
                {% for error in form.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {{ form }} <br>

    <input type='submit' class="btn btn-success", value="Change Password"> <br>

  </form>

  <script src="{% static 'student/script.js' %}"> </script>
  

{% endblock %}
