{% extends 'student/layouts/base.html'%}

{% load static %}
{% block 'title' %} Books {%endblock%}
{% block 'content' %}
<!DOCTYPE html>
<html lang="en">

    <body>
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">Author: {{ book.author }}</p>
                <p class="card-text">Publication Year: {{ book.publication_year }}</p>
                <p class="card-text">Copies Available: {{ book.available_copies }}</p>

                {% if user.is_authenticated and not user.is_superuser %}

                    <a href="{% url 'book.borrow' book.id %}" class="btn btn-dark">Borrow</a> <br>
                
                {% endif %}
                <a href="{% url 'book.list' %}" class="btn btn-secondary mt-3">Back</a>
                

            </div>
             
        
        </div>
        <br>

    </body>
</html>


{% endblock %}